@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Passions+Conflict&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html body{
    min-height: 100%;
    background-color: rgb(5, 5, 5);
}
header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}
section.p{
    padding-bottom: 2px;
}
section.normal{
    background-color: rgb(189, 163, 163);
    color: white;
}
section.normal>p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgb(226, 173, 173) 10px 10px 10px;
    display: block;
}
section.imagem{
    background-color: rgb(19, 18, 18);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(27, 27, 27, 0.74);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem>p{
    width: 400px;
    padding: 5px;
    background-color: rgba(24, 22, 22, 0.192);
    border-radius: 5px;
    text-shadow: 1px 1px 0px black;
    
}
section#img01{
    background-image: url(/imgs/background001.jpg);
    background-position: right center;
   
}
section#img02{
    background-image: url(/imgs/background002.jpg);
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}